<h1> Create a Room</h1>
<% if @room %>
    <% @room.errors.for_each do | key,value | %>
        <h2>Error: <%= key%>: <%= value%></h2>
    <% end %>    
<% end %>
<%= form_for @room do |f|%>
    <%= f.label "Room Name"%><br> 
    <%= f.text_field :name%><br>
    <%= f.label "Max Players"%><br> 
    <%= f.number_field :max_users%><br>  
    <%= f.label "Max Bet"%><br> 
    <%= f.number_field :max_bet%><br>
    <%= f.label "Min Bet"%><br>
    <%= f.number_field :min_bet%><br>
    <%= f.label "Starting House Balance"%><br>
    <%= f.number_field :house_wallet%><br>
    <%= f.submit %>
<%end%>

