<% user = User.find_by(id: @room.host_id) %>
<% username = "#ERR" %>
<% username = user.username if user %>
<h1> <%= @room.name %> hosted by <%= username%></h1>
<% if current_user.id == @room.host_id %>
    <%= form_for @room do |r|%>
        <%= fields_for :actions do |a|%>
            <%= a.label "Action Description"%><br>
            <%= a.text_field :description%><br>
            <%= a.label "Percent Success"%><br>
            <%= a.number_field :odds%><br>
            <%= a.hidden_field :room_id, value: @room.id%>
            <%= a.submit "Add Action"%>
        <% end %>
    <% end %>
<% end %>    
<table>
    <tr>
        <th style="text-align:center" class="small"  >ID</th>
        <th style="text-align:center" class="big">Action Description</th>
        <th style="text-align:center" class="small">Odds</th>
        <% if current_user.id == @room.host_id %>
            <th style="text-align:center" class="small">Options</th>
        <% end %>

    </tr>
    <% @room.actions.each do |action| %>
        <tr>
            <td style="text-align:left" class="small"><%= action.id%></td>
            <td style="text-align:left" class="big"><%= action.description%></td>
            <td style="text-align:left" class="small"><%= action.odds%></td>
            <% if current_user.id == @room.host_id %>
                <td style="text-align:left" class="small"><%= button_to "Delete", {:controller => :actions, :action => 'destroy', :id => action.id}, method: :delete%></td>
            <% end %>
        </tr>
    <% end %>
</table>
