<% user = User.find_by(id: @room.host_id) %>
<% username = "#ERR" %>
<% username = user.username if user %>
<h1> <%= @room.name %> hosted by <%= username%></h1>
<% if current_user.id == @room.host_id %>
    <%= form_for @action do |f|%>
        <%= f.label "Action Description"%><br>
        <%= f.text_field :description%><br>
        <%= f.label "Percent Success"%><br>
        <%= f.number_field :odds%><br>
        <%= f.submit %>
    <% end %>    
<% end %>    
<table>
    <tr>
        <th style="text-align:center" class="small"  >ID</th>
        <th style="text-align:center" class="big">Action Description</th>
        <th style="text-align:center" class="small">Odds</th>
    </tr>
    <% @room.active_actions do |action| %>
        <td style="text-align:left" class="small"><%= action.id%></td>
        <td style="text-align:left" class="big"><%= action.description%></td>
        <td style="text-align:left" class="small"><%= action.odds%></td>
    <% end %>
</table>
